
.align {
  text-align: center;
  border: 1px dashed;
  border-color: #F5D0A9;
}
.nav-tabs > li > a{ 
margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #F5D0A9;
    color: white;
    font-weight: bold;
}
.align2 {
  text-align: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
color: white;
font-weight: bold;
cursor: default;
background-color: #B40404;
border: 0px solid;
border-bottom-color: transparent;
}

.nav-tabs > li > a:hover{
border-color: #FBF8EF;
background-color: #F7F2E0;
}


.align3 {
  text-align: center;

}

.contentDiv{
margin:auto; 
width: 630px;
border-color: white;
border-radius: 10px;
}
.artPrdImg{
	width: 80px;
	min-height: 30px;
	display: block;
	height: 70px;
    margin: auto;
}

.artReview{
border: 0px dashed #B40404;
width: 800px;
margin: auto;

}


.artContent{
width: 100%;
margin-left: 40px;
}

.artContent textarea{
text-align:center; 
border: 0px solid;
resize: none; 
background-color: white;
font-size: 11pt;
color: black;
margin: auto;
}

.artPrdImg img{
width: 100%;
height: 100%;
}
.artLink{
width: 100px;
color: black;
background-color: transparent;
box-shadow: none;
border: 0px solid;
}

.likeArt{
border-style:hidden; 
margin-left:42%; 
border-radius:5px; 
font-weight:bold; 
background-color: #DF0101;
color: white;  
width: 15%; 
height:36px; 
font-size: 13pt;
}

.furnitureTbody{
text-align: cennter;
}

.likeArt2{
border-style:hidden; 
margin-left:42%; 
border-radius:5px; 
font-weight:bold; 
background-color: #610B0B;
color: white;  
width: 17%; 
height:40px; 
font-size: 13pt;
}

button.accordion {
    background-color: #8A0808;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 12%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    border-radius: 8px;
}

.fFont{
font-size: 13pt;
}
.table1{
border-color: black;
}

button.accordion.active, button.accordion:hover {
    background-color: #F6E3CE; 
    border: 2;
}


div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    
}

.button {
  width: 100px;
  height: 38px;
  background-color: #8A0808;
  color: white;
  border: 2;
  border-style: hidden;
  border-radius: 10px;
}
.nav-tabs{
border-bottom: 0px solid;
}

.button2 {
  width: 50px;
  height: 25px;
  background-color: #8A0808;
  color: white;
  border: 2;
  border-style: hidden;
  border-radius: 10px;
}
#shareForm tr td{
padding: 3px;
}

#shareInfo{
color: #DF0101;
font-size: 9pt;
}

#m{
width:10%;  
height: 14%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
text-align: center;
}

#acreage{
width:4%;  
height: 14%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
text-align: center;
}


ul.dropdown-menu {
    top: 1.5cm;
}
#shareReply{
color: 
}

.replybtn {
  width: 60px;
  height: 23px;
  background-color: #61210B;
  color: white;
  border: 2;
  border-style: hidden;
  margin-left: 10%
}

#replyth{
color: #DF0101;
font-size: 12pt;
}

#deletebtn{
background-color :white;
color: #B40404;
border-style: hidden;
font-weight: bold;
width: 45px; 
height: 25px; 
font-size: 12pt;
box-shadow: none;
}

#topbtn{
border-style:hidden; 
border-radius:10px; 
background-color: #B40404;
color: white;  
width: 60px; 
height: 29px; 
font-size: 9pt
}



.articleImg{
margin: 10px;
overflow: hidden;
text-align: center;
display: inline-block;
width: 200px;
height: 150px;
}

.artReview2{
width:fit-content;
margin:auto;
}


.articleImg img{
height: 100%;
width: auto;
padding: 10px;
}
.artContainer{
width: 900px; 
border: 3px solid; 
border-color: #F6E3CE; 
padding: 40px;
}

.artPlanitemName{
width:23%;  
height: 12%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
}
.artPlanitemEmail{
width:23%;  
height: 12%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
}

.planimgDiv img{
width: 100%;
}

.furnitureList{
background-color: white;
}
.artBoxFooter{
float: right;
}

.popup {
position: absolute;
}

.back { 
background-color: gray; 
opacity:0.5; 
width: 100%; 
height: 300%; 
overflow:hidden;  
z-index:1101;
}

.front { 
z-index:1110; 
opacity:1; 
boarder:1px; 
margin: auto; 
}
     
.show{
position:relative;
max-width: 1200px; 
max-height: 800px; 
overflow: auto;       
}

.dunggul { 
  border-top-left-radius: 0.7em; 
  border-top-right-radius: 0.7em; 
  border-bottom-right-radius: 0.7em; 
  border-bottom-left-radius: 0.7em; 
}

.replyWriter {
  /* margin: 20px; */
  font-family: 'Paytone One', sans-serif;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.replyWriter .spanReplyWriter {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 31px;
  line-height: 80px;
  color: #0c0e96;
  text-shadow: 0 6.36px 8.896px #c4b59d,0 -2px 1px #fff;
  letter-spacing: -4px;
}

.replyLi {
  list-style:none;
}
#newEmail {
  box-shadow: 1px 1px 1px #EFEFF3;
}
#newContent {
  box-shadow: 1px 1px 1px #EFEFF3;
}
#replyAddBtn {
  box-shadow: 1px 1px 1px #EFEFF3;
}
#exampleEmail {
  box-shadow: 1px 1px 1px #EFEFF3;
}
#exampleComment {
  box-shadow: 1px 1px 1px #EFEFF3;
}








