
.align {
  text-align: center;
  border: 1px dashed;
  border-color: #F5D0A9;
}
.align2 {
  text-align: center;
}

.furnitureTbody{
text-align: cennter;
}

.artLink{
width: 100px;
color: black;
background-color: transparent;
box-shadow: none;
border: 0px solid;
}

.fileDrop {
  width: 80%;
  height: 100px;
  border: 1px dotted gray;
  background-color: lightslategrey;
  margin: auto;
}

#acreage{
width:4%;  
height: 14%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
text-align: center;
}




button.accordion {
    background-color: #8A0808;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 15%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    border-radius: 8px;
}

button.accordion.active, button.accordion:hover {
    background-color: #F6E3CE; 
    border: 2;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    
}

.button {
  width: 100px;
  height: 38px;
  background-color: #8A0808;
  color: white;
  border: 2;
  border-style: hidden;
  border-radius: 10px;
}

.artTitle{
text-align:center; 
font-weight:bold; 
width: 55%; 
height: 40px; 
border: 1px solid #F5D0A9;
}

.artContent{
text-align:center; 
font-weight: bold;
resize: none; 
border: 1px solid;
border-color: #F5D0A9;
}

.button2 {
  width: 50px;
  height: 25px;
  background-color: #8A0808;
  color: white;
  border: 2;
  border-style: hidden;
  border-radius: 10px;
}
#shareForm tr td{
padding: 3px;
}

.modifyContent{
text-align: center;
}

#shareInfo{
color: #DF0101;
font-size: 9pt;
}

.furnitureList{
background-color: white;
}

#m{
width:10%;  
height: 14%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
text-align: center;
}

ul.dropdown-menu {
    top: 1.5cm;
}
#shareReply{
color: 
}

.replybtn {
  width: 60px;
  height: 23px;
  background-color: #61210B;
  color: white;
  border: 2;
  border-style: hidden;
  margin-left: 10%
}

#replyth{
color: #DF0101;
font-size: 12pt;
}

#deletebtn{
background-color :white;
color: #B40404;
border-style: hidden;
font-weight: bold;
width: 45px; 
height: 25px; 
font-size: 12pt;
box-shadow: none;
}

.planimgDiv img{
width: 100%;
}

.topbtn{
border-style:hidden; 
border-radius:10px; 
background-color: #B40404;
color: white;  
width: 60px; 
height: 29px; 
font-size: 9pt
}
.articleImg{
width: 150px;
margin: auto;
display: block;
}

.articleImg img{
width : 100%;
height: auto;
}

.button3{
  width: 80px;
  height: 28px;
  background-color: #61210B;
  color: white;
  border: 2;
  border-style: hidden;
  border-radius: 10px;
  }

.artPlanitemName{
width:23%;  
height: 12%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
}

.artPlanitemEmail{
width:23%;  
height: 12%; 
background-color: transparent; 
font-weight:bold; 
border: none; 
font-size:11pt; 
color: #F7BE81;
}

.artContainer{
width: 900px; 
border: 3px solid; 
border-color: #F6E3CE; 
padding: 40px;
}

.popup{
position: absolute;
}

.back{ 
background-color: gray; 
opacity:0.5; 
width: 100%; 
height: 300%; 
overflow:hidden;  
z-index:1101;
}

.front { 
z-index:1110; 
opacity:1; 
boarder:1px; 
margin: auto; 
}

.show{
position:relative;
max-width: 1200px; 
max-height: 800px; 
overflow: auto;       
     } 
