
body {
	margin: 0;
}
/*
	사진을 배경으로 만들고 크기와 위치 조절을 위한 코드
	폰트의 설정과 크기 설정
*/
@font-face {
	font-family: 'Sequel';
	src: url(../fonts/Sequel-Regular.ttf)
}
.scene {
	height: 150vh;
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
	font-weight: 200;
}
.fonth1 {
	line-height: 270%;
	font-family: 'Sequel', sans-serif;
}
.fonth2 {
	line-height: 210%;
	font-family: 'Hanna', serif;
}
.fonth3 {
    line-height: 170%;
    font-family: 'Courgette', cursive;
}
.scene.one{
    background-image: url('../images/brick-wall.jpg');
}
.scene.two{
    background-image: url("../images/cater-yang.jpg");
}
.scene.three{
    background-image: url("../images/quin-stevenson.jpg");
}
.scene.four{
    background-image: url("../images/winter-garden.jpg");
}
.scene.five{
    background-image: url("../images/klaas.jpg");
}
.scene header{
    color:white;
    max-width: 80%;
    position: relative;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:1.5rem;
    text-align: center;
}
.scene header h1{
    font-size:7rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.scene header h1:after{
    content:'';
    border-bottom:1px solid white;
    width:8rem;
    display: block;
    margin:0 auto;
  margin-top:1rem;
}

/* 첫번째 사진과 마지막 사진에 있는 버튼 디자인 설정 */
.btn{
    text-decoration: none;
    font-size:1rem;
    color:white;
    padding:10px 20px 10px 20px;
    margin:20px;
    display:inline-block;
    border-radius: 10px;
    transition:all 0.1s;
    text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
    font-family: 'Lobster', cursive;
}
.btn:active{
    transform: translateY(3px);
}
.btn.blue{
    background-color: #1f75d9;
    border-bottom:5px solid #165195;
}
.btn.blue:active{
    border-bottom:2px solid #165195;
}
.btn.red{
    background-color: #ff521e;
    border-bottom:5px solid #c1370e;
}
.btn.red:active{
    border-bottom:2px solid #c1370e;
}
#mainButton1 {
    position: absolute;
    top: 140px;
    right: 15px;
}
#mainButton2 {
    position: absolute;
    bottom: -4397px;
    right: 15px;
}
