
/* 
	윗부분에 있는 MYPAGE 글씨에 애니메이션 효과를 주는 코드
	2행 ~ 45행
*/
.animatedtext {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 64%;
  width: 40em;
  margin: 0 0 0 -20em;
}
.animatedtext span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* 
	이미지 파일 정렬과 크기 수정 
	47행 ~ 63행
*/
.juicy {
	text-align: center;
}
.img2 {
	border: 2px solid;
	width: 170px;
	height: 170px;
	border: 5px solid #2D2926;
	margin: 31px 31px 31px 31px;
}
#modalmodal {
	display: inline-block;
}

/* 모달의 확인 버튼 색깔 수정 */
.btn-danger-color {
	color: #fff;
  	border-color: #d43f3a;
  	background-color: #FF0901;
}

/*     
.mask{width:100%; height:100%; position:fixed; left:0; top:0; z-index:10; background:#000; opacity:.5; filter:alpha(opacity=50);}
     
#modalLayer{display:none; position:relative;}
#modalLayer .modalContent {width:440px; height:200px; padding:20px; border:1px solid #ccc; position:fixed; left:50%; 
                          top:50%; z-index:11; background:#fff;}
#modalLayer .modalContent button{position:absolute; right:0; top:0; cursor:pointer;}
 */