li {
	list-style-type: none;
}

.float-right {
	float: right;
}

.table-font {
	font-size: 16px;
	text-align: center;
}

.table-text {
	border-radius: 10px;
}

.box-info {
	background-color: #FBF8EF;
	height: 60px;
	border-radius: 10px;
}

.img-size {
	width: 50%;
	height: 70%;
}

.btn-primary {
	color: #fff;
	background-color: black;
	border-color: black;
}

.btn-primary2 {
	color: black;
	background-color: #FBF8EF;
	border-color: #FBF8EF;
}

.btn-primary3 {
	color: black;
	background-color: #F7F8E0;
	border-color: #F7F8E0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active,
	.btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #B40404;
}

.imgWrap{
	width:150px;
	height:150px;
}

.imgWrap img{
	margin:auto;
	max-width:100%;
	max-height:100%;
	width:auto;
	height:auto;
}