bin/
Furnifit/.settings/*
target/
.metadata/
.recommenders/
RemoteSystemTempFiles/
Servers/
META-INF/
*.class
*.classpath
pom.properties
*.properties
*.MF
*.prefs
*.component
org.eclipse.wst.common.component

