<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.member.dao.CouponDao">
	
    <select id="read" parameterType="String" resultType="Coupon">
    	SELECT e.serial, c.discount_rate*100 AS discountRate, TO_CHAR(e.expiration_date, 'YYYY-MM-DD') AS expirationDate , e.status
    	FROM coupones c JOIN offer_coupones e
    	ON c.coupone_id = e.coupone_id
    	WHERE e.email = #{email}
    </select>
    
    <select id="readAvailable" parameterType="String" resultType="Coupon">
    	SELECT e.serial, c.discount_rate*100 AS discountRate, TO_CHAR(e.expiration_date, 'YYYY-MM-DD') AS expirationDate , e.status
    	FROM   coupones c JOIN offer_coupones e
    	ON     c.coupone_id = e.coupone_id
    	WHERE  e.status = '사용가능'
    	AND    e.email = #{email}
    	AND    e.expiration_date > SYSDATE-1
    	ORDER BY c.discount_rate ASC
    </select>
	
   <!-- 사용된 쿠폰 used_date, status 변경 -->
   <update id="couponUpdate" parameterType="Coupon">
       	UPDATE offer_coupones
     	<set>
			<if test="used_date != null">used_date = #{userDate},</if>
			<if test="status != null">status = #{status},</if>
		</set>
		WHERE serial = #{serial}
   </update>
	
</mapper>