<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.member.dao.CouponDao">
	
    <select id="read" parameterType="String" resultType="Coupon">
    	SELECT e.serial, c.discount_rate*100 AS discountRate, TO_CHAR(e.expiration_date, 'YYYY-MM-DD') AS expirationDate , e.status
    	FROM coupones c JOIN offer_coupones e
    	ON c.coupone_id = e.coupone_id
    	WHERE e.email = #{email}
    </select>
    
    <select id="readAvailable" parameterType="String" resultType="coupon">
    	SELECT e.serial, c.discount_rate*100 AS discountRate, TO_CHAR(e.expiration_date, 'YYYY-MM-DD') AS expirationDate , e.status
    	FROM coupones c JOIN offer_coupones e
    	ON c.coupone_id = e.coupone_id
    	WHERE e.email = #{email} AND e.status = "사용가능"
    </select>
	
</mapper>