<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.member.dao.MemberDao">
	
	<select id="login" resultType="member" >
		SELECT email,
			   passwd,
			   name,
			   phone
		FROM   members 
		WHERE  email = #{email} 
		       AND passwd = #{passwd}
	</select>
	
	<update id="keepLogin" parameterType="map">
		UPDATE members 
		SET    sessionid = #{sessionid}, 
		       sessionlimit = #{sessionlimit} 
		WHERE  email = #{email}
	</update>
	
	<select id="readBySession" parameterType="string" resultType="member">
		SELECT email,
			   passwd,
			   name,
			   phone
		FROM   members
		WHERE  sessionid = #{sessionid} 
		       AND sessionlimit > SYSDATE
	</select>
	
	<insert id="create" parameterType="Member">
		INSERT INTO members(email, passwd, name, phone) 
		VALUES (#{email}, #{passwd}, #{name}, #{phone})
	</insert>
	
	<update id="update" parameterType="Member">
		UPDATE members
		SET email = #{email}, passwd = #{passwd}, name = #{name}, phone = #{phone}
		WHERE email = #{email}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM members
		WHERE email = #{email}
	</delete>
	
	<select id="checkPw" resultType="int">
        SELECT COUNT(*) 
        FROM members
        WHERE email = #{email} AND passwd = #{passwd}
    </select>

</mapper>