<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.orderitems.dao.OrderitemsDao">
	
	<!-- 주문할 가구 등록 -->
	<insert id="create" parameterType="Orderitems">
		INSERT INTO orderitems
					(product_id,
					 order_id,
				 	 amount)
		VALUES 		(#{product_id},
					 #{order_id},
					 #{amount})
	</insert>

	<!-- 가구 정보 상세보기 -->
	<select id="read" parameterType="int" resultType="Orderitems">
		SELECT product_id,
			   order_id,
			   amount
		FROM   orderitems
		WHERE  product_id = #{product_id}
	</select>
	
	<!-- 회원별 주문할 리스트 -->
	<select id="listAll" resultType="Orderitems">
		SELECT product_id,
			   order_id,
			   amount
		FROM   orderitems
	</select>
	
	<!-- 주문할 가구 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE FROM orderitems
		WHERE  orderId = #{orderId}
	</delete>
	
	<!-- 가구의 수량 변경 -->
	<update id="update" parameterType="Orderitems">
		UPDATE orderitems
		<set>
	        <if test="amount != null">amount = #{amount}</if>
	    </set>
	</update>
</mapper>