<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.orderitems.dao.OrderitemsDao">
	
	<!-- 주문항목 생성 -->
	<insert id="create" parameterType="Orderitems">
		INSERT INTO orderitems
					(product_id
					 order_id
				 	 amount)
		VALUES 		(#{productId},
					 #{orderId},
					 #{amount})
	</insert>
	
	<!-- 주문항목 상세보기  -->
	<select id="read" parameterType="int" resultType="Orderitems">
		SELECT product_id AS "productId",
			   order_id AS "orderId",
			   amount
		FROM   orderitems
		WHERE  order_id = #{value}
	</select>
	
	<!-- 주문항목 리스트 -->
	<select id="listAll" resultType="Orderitems">
		SELECT product_id AS "productId",
			   order_id AS "orderId",
			   amount
		FROM   orderitems
	</select>

</mapper>


