<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.planitem.dao.PlanItemDao">

	<!-- 회원별 배치도 항목 리스트 -->
	<select id="listAll" resultType="PlanItem" parameterType="map">
		SELECT planitem_id AS "planitemId",
		       plan_id AS "planId",
		       width,
		       height,
		       length,
		       acreage,
		       image,
		       name	
		FROM   planitems
		WHERE  planitem_id = #{planitemId}
		AND    plan_id = #{planId}
	</select>
	
	<!-- 배치도 삭제 -->
	<delete id="delete" parameterType="map">
		DELETE FROM planitems
		WHERE  planitem_id = #{planitemId}
		AND    plan_id = #{planId}
	</delete>
	
</mapper>