<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.plan.dao.PlanDao">

	<!-- 가구 정보 상세보기
	<select id="read" parameterType="map" resultType="PlanItem">
		SELECT planitem_id AS "planitemId",
		       plan_id AS "planId",
		       width,
		       height,
		       length,
		       acreage,
		       image,
		       name	
		FROM   planitems
		WHERE  plan_id = #{planId}
		AND    planitem_id = #{planitemId}
	</select> -->
	
	<!-- 회원별 배치도 목록 리스트 -->
	<select id="listAll" resultType="Plan" parameterType="String">
		SELECT plan_id AS "planId",
			   email,
			   name,
			   TO_CHAR(regdate, 'YYYY-MM-DD') regdate
		FROM   plans
		WHERE  email = #{email}
	</select>
	
	
	<!-- 게시글 리스트(+페이징) -->
	<select id="listByParams" parameterType="Params" resultType="Plan">
		SELECT plan_id AS "planId",
			   email,
			   name,
			   TO_CHAR(regdate, 'YYYY-MM-DD') regdate
		FROM   (SELECT CEIL(rownum / #{pageSize}) request_page,
							plan_id,
						    email,
							name,
							regdate
							FROM   (SELECT 	plan_id,
									        email,
										    name,
										    regdate
								    FROM    	plans
								    ORDER BY  	plan_id DESC))
		WHERE   request_page = #{page}
	</select>
	
	<!-- 출력페이지 계산을 위한 행의 수 반환  -->
	<select id="pageCount" resultType="int">
		SELECT count(plan_id) AS "count"
		FROM   plans
	</select>
	
	
	<!-- 새 배치도 등ㄺ -->
	<insert id="create" parameterType="Plan">
		<selectKey keyProperty="planId" resultType="int" order="BEFORE">
			select plans_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO plans
		(plan_id,
		email,
		name)
		VALUES (#{planId},
		#{email},
		#{name})
	</insert>
	
</mapper>