<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<mapper namespace="com.furnifit.plan.dao.PlanDao">

	<!-- 가구 정보 상세보기
	<select id="read" parameterType="map" resultType="PlanItem">
		SELECT planitem_id AS "planitemId",
		       plan_id AS "planId",
		       width,
		       height,
		       length,
		       acreage,
		       image,
		       name	
		FROM   planitems
		WHERE  plan_id = #{planId}
		AND    planitem_id = #{planitemId}
	</select> -->
	
	<!-- 회원별 배치도 목록 리스트 -->
	<select id="listAll" resultType="Plan" parameterType="String">
		SELECT plan_id AS "planId",
			   email,
			   name,
			   TO_CHAR(regdate, 'YYYY-MM-DD') regdate
		FROM   plans
		WHERE  email = #{email}
	</select>
	
</mapper>