<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.furnifit.productimg.dao.ProductImgDao">
	<select id="list" resultType="ProductImg">
		SELECT NAME,
		path,
		product_id AS "productId",
		order_no
		FROM product_img
		WHERE order_no = 0
	</select>

</mapper>