<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.furnifit.product.dao.ProductDao">
	<insert id="create" parameterType="Product">
		<selectKey keyProperty="productId" resultType="int" order="BEFORE">
			select PRODUCTS_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO products
		(product_id,
		NAME,
		brand,
		description,
		category,
		price,
		width,
		length,
		height,
		color)
		VALUES (#{productId},
		#{name},
		#{brand},
		#{description},
		#{category},
		#{price},
		#{width},
		#{length},
		#{height},
		#{color})
	</insert>

	<insert id="addAttach" parameterType="map">
		INSERT INTO product_img
		(NAME,
		path,
		product_id,
		order_no,
		regdate)
		VALUES (#{name},
		#{path},
		#{product_id},
		#{order_no},
		sysdate)
	</insert>

	<select id="listAll" resultType="Product">
		SELECT product_id AS
		"productId",
		category,
		NAME,
		brand,
		price,
		color,
		width,
		length,
		height,
		description
		FROM products
	</select>

	<select id="list" resultType="Product" parameterType="ProductParams">
		SELECT product_id AS "productId",
		category,
		NAME,
		brand,
		price,
		color,
		width,
		length,
		height,
		description,
		regdate
		FROM products
		<choose>
			<when test="category != null">
				where category = #{category}
			</when>
			<otherwise>
				where category = '선반'
			</otherwise>
		</choose>
		
		<!-- brand -->
		<if test="brands != null">
			AND brand in
			<foreach item="item" index="index" collection="brands" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<!-- color -->
		<if test="colors != null">
			AND color in
			<foreach item="item" index="index" collection="colors" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<!-- 키워드 검색 -->
		<if test="keyword != null"> and name like '%'||#{keyword}||'%' </if>
		
		<!-- 가격 -->
		<if test="maxPrice != 0 "> and #{maxPrice} > price </if>
		<if test="minPrice != 0 "> and price > #{minPrice} </if>
		
		<!-- 가구사이즈 -->
		<if test="maxWidth != 0 "> 
			and #{maxWidth} >= WIDTH
		</if>
		<if test="maxHeight != 0"> 
			and #{maxHeight} >= HEIGHT
		</if>
		<if test="maxLength != 0 ">
			and #{maxLength} >= length
		</if>
		
		<!-- 정렬 -->
		<if test="sort.equalsIgnoreCase('low')">
			order by price 
		</if>
		<if test="sort.equalsIgnoreCase('height')">
			order by price desc
		</if>
		<if test="sort.equalsIgnoreCase('new')">
			order by regdate desc
		</if>
	</select>

	<select id="read" resultType="Product" parameterType="int">
		SELECT
		product_id AS "productId",
		category,
		NAME,
		brand,
		price,
		color,
		width,
		length,
		height,
		description,
		REGDATE
		FROM products
		where product_id =
		#{value}
	</select>

</mapper>