<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.furnifit.wishlist.dao.WishlistDao">

	<insert id="create" parameterType="map">
		INSERT INTO wishlist
		(email,
		product_id)
		VALUES (#{email},
		#{productId})

	</insert>

	<select id="read" resultType="Wishlist">
		SELECT email,
		product_id as
		"productId"
		FROM
		wishlist
	</select>

	<select id="userwishlist" resultType="Wishlist" parameterType="string">
		SELECT email,
		product_id as "productId"
		FROM
		WHERE
		EMAIL = #{email}
	</select>

	<delete id="delete" parameterType="map">
		DELETE FROM WISHLIST
		WHERE
		EMAIL = #{email} and PRODUCT_ID = #{productId}
	</delete>

</mapper>