<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                          "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis XML 설정 파일(MyBatis설정의 중앙 허브 역할) -->
<configuration> 
	<typeAliases> 
		<typeAlias type="com.furnifit.member.domain.Member" alias="member"/>
		<typeAlias type="com.furnifit.member.domain.Coupon" alias="coupon"/>
		<typeAlias type="com.furnifit.product.domain.Product" alias="Product"/>
		<typeAlias type="com.furnifit.productimg.domain.ProductImg" alias="ProductImg"/>
		<typeAlias type="com.furnifit.orderitems.domain.Orderitems" alias="Orderitems"/>
		<typeAlias type="com.furnifit.orders.domain.Orders" alias="Orders"/>
		<typeAlias type="com.furnifit.article.domain.Article" alias="Article"/>
		<typeAlias type="com.furnifit.wishlist.domain.Wishlist" alias="Wishlist"/>
		<typeAlias type="com.furnifit.planitem.domain.PlanItem" alias="PlanItem"/>
		<typeAlias type="com.furnifit.plan.domain.Plan" alias="Plan"/>
		<typeAlias type="com.furnifit.color.domain.Color" alias="Color"/>
		<typeAlias type="com.furnifit.brand.doamin.Brand" alias="Brand"/>
		<typeAlias type="com.furnifit.category.doamin.Category" alias="Category"/>
		<typeAlias type="com.furnifit.article.domain.ArticleImg" alias="ArticleImg"/>
		<typeAlias type="com.furnifit.furniture.domain.Furniture" alias="Furniture"/>
		<typeAlias type="com.furnifit.common.web.ArticleParams" alias="ArticleParams"/>
		<typeAlias type="com.furnifit.common.web.ProductParams" alias="ProductParams"/>
		<typeAlias type="com.furnifit.common.web.PageBuilder" alias="PageBuilder"/>
	</typeAliases>
</configuration>
